@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html,body{
    font-size: 62.5%;
    height: 100%;
    
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;  
}
ul{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}
li{
    color: rgb(199, 199, 199);
}
a{
    text-decoration: none;
    color: rgb(199, 199, 199);
}
h1,h2{
    color:white;
    font-family: 'Open Sans', sans-serif;
}
p{
    color:rgb(199, 199, 199);
    font-family: 'Open Sans', sans-serif;
}
.container{
    background-color:hsl(217, 27%, 15%);
    display: flex;
    flex-direction: column;
}
#nav1{
    display: flex;
    justify-content: space-between;
    margin: 2em;
}
#nav-u1 img{
    width: 100%;
    max-width:35ch;
    padding: 5.7em 6em;
}
#nav-u2{
    padding: 6.7em 6em;
}
#nav-u2 li{
    padding: 0 .8em;
    font-size: 1.4rem;
    display: inline;
}
#nav-u2 a{
    color: rgb(199, 199, 199);
}
#picture1{
    align-self: center;
    margin: 3em 0;
    z-index: 1;
}
#section1{
    margin:2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index:1;
}
#section1 h1{
    padding: .5em 1em;
    text-align:center;
    font-size: 2.0rem;
    line-height: 1.5em;
    padding: 1em 23%;
}
#section1 p{
    padding: .5em 3.5em;
    text-align:center;
    font-size: 1.6rem;
    line-height: 1.7em;
    padding: 0 23%;
}

#section1 button{
    background:radial-gradient(hsl(198, 60%, 50%),hsl(176, 68%, 64%)) ;
    text-align: center;
    border: none;
    border-radius: 2.9rem;
    width: 30ch;
    padding: 1em .5em;
    margin: 1.8em 0;
    color: white;
    font-weight: 550;
}
main{
    background-color: hsl(218, 28%, 13%);
}
#picture2D{
    width: 100%;
}
#picture2P{
    display: none;
}
#dbgimg{
    width: 100%;
    overflow-x: hidden;
    display: block;
}
#pbgimg{
    display: none;
}
#fturs{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    text-align: center;
}
.features>*{
    margin:  1em 7em;
}
#fturs h1{
    font-size: 1.6rem;
}
#fturs p{
    font-size: 1.4rem;
    padding: 1em 2.5em;
}
#productive{
    display: flex;
    justify-content: center;
    margin: 20em 10%;
}
#illprod{
    width: 150ch;
}
.prdqw2{
    padding: 0 5em;
}
#productive h1{
    font-size: 2.8rem;
    align-self: flex-start;
    line-height: 1.5em;
}
#productive p{
    font-size: 1.5rem;
    line-height: 2em;
    padding: .3em 0;
}
#productive a{
    align-self: flex-start;
    padding: 1em 0;
    font-size: 1.8rem;
    color: cyan;
    text-decoration: dashed!important;
    position: relative;
}   
.cards{
    display: flex;
    justify-content: center;
    margin:15em 15% 40em;
}
.cards img{
    align-self: flex-start;
    width: 10ch;
}
.pstion{
    padding-left: 3em;
}
.cmmnts{
    background-color:hsl(219, 30%, 18%);
    padding:4em 4em;
    z-index: 1;
}
.cmmnts:nth-child(odd){
    margin: 0 2em;
}
.cmmnts h1{
    font-size: 1.8rem;
    position: relative;
}
.cmmnts p{
    font-size: 1.4rem;
}
.cmmnts img{
    width: 4ch;
    border-radius: 30px;
    position: relative;
    top: 2rem;
}
.mgteac{
    position: relative;
    display: flex;
    justify-content: center;
    margin: 10em 20%;
}
.gteac{
    position: absolute;
    top: -16rem;
    background-color:hsl(219, 30%, 18%);
    /* display: flex;
    align-self: center;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; */
    display:grid;
    grid-template-columns: auto auto auto auto;
    z-index: 1;
    text-align: center;
    padding: 5em;
    margin: 2em;
    width: 90%;
    border-radius: 7px;
}
.gteac h1{
    font-size: 3rem;
    margin: .5em 0;
    grid-column: 1/5;
}
.gteac p{
    font-size: 2rem;
    margin: .5em 0;
    grid-column: 1/5;
}
.gteac input{
    font-size: 1.4rem;
    margin:1em 0;
    border-radius: 2.5rem;
    border: none;
    width: 50ch;
    /* height: 5vh; */
    padding: 1em 3.9em 1em 1em;
    grid-column: 1/4;
}
.gteac button{
    font-size: 1.4rem;
    margin:1em 0;
    background:radial-gradient(hsl(198, 60%, 50%),hsl(176, 68%, 64%));
    border-radius: 2.5rem;
    border: none;
    width:25ch;
    display: inline;
    color: #fff;
    font-weight: 550;
    padding: 1em 0;
}

footer{
    background-color:hsl(216, 53%, 9%);
    padding:10% 5% 5%;
    display:grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: space-evenly;
    grid-column-gap: 2.5rem;
}
#logo2{
    padding: 5em 2em;
    width: 10%;
    grid-column:1/6;
}
footer li{
    font-size: 2rem;  
    display: block;
}
.contacts li{
    font-size: 1.6rem;
    line-height: 3.5rem;
}
.con{
    display: grid;
    grid-template-columns: auto auto auto;
}
#li1{
    background:url('./icon-location.svg') no-repeat -.020em .6em;
    padding: 0 2em;
    grid-row:1/3;
}
#li2{
    background:url('./images/icon-phone.svg') no-repeat -.020em .6em;
    padding: 0 2em;
}
#li3{
    background:url('./images/icon-email.svg') no-repeat -.020em .6em;
    grid-column: 2/3;
    padding: 0 2em;
}
.socialogos ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.socialogos img{
    width: 2.7rem;
    padding: 0 .2em;
}