@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

html,body{
    font-size: 62.5%;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
ul{
    list-style: none;
    font-family: 'Open Sans', sans-serif;
}
li{
    color: rgb(199, 199, 199);
}
a{
    text-decoration: none;
    color: rgb(199, 199, 199);
}
h1,h2{
    color:white;
    font-family: 'Open Sans', sans-serif;
}
p{
    color:rgb(199, 199, 199);
    font-family: 'Open Sans', sans-serif;
}
.container{
    background-color:hsl(217, 27%, 15%);
    display: flex;
    flex-direction: column;
}
#nav1{
    display: flex;
    justify-content: space-between;
    margin: 2em;
}
#nav-u1 img{
    width: 100%;
    max-width:35ch;
    padding: 5.7em 6em;
}
#nav-u2{
    padding: 6.7em 6em;
}
#nav-u2 li{
    padding: 0 .8em;
    font-size: 1.4rem;
    display: inline;
}
#nav-u2 a{
    color: rgb(199, 199, 199);
}
#picture1{
    align-self: center;
    margin: 3em 0;
    z-index: 1;
}
#section1{
    margin:2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index:1;
}
#section1 h1{
    padding: .5em 1em;
    text-align:center;
    font-size: 2.0rem;
    line-height: 1.5em;
    padding: 1em 23%;
}
#section1 p{
    padding: .5em 3.5em;
    text-align:center;
    font-size: 1.6rem;
    line-height: 1.7em;
    padding: 0 23%;
}

#section1 button{
    background:radial-gradient(hsl(198, 60%, 50%),hsl(176, 68%, 64%)) ;
    text-align: center;
    border: none;
    border-radius: 2.9rem;
    width: 30ch;
    padding: 1em .5em;
    margin: 1.8em 0;
    color: white;
    font-weight: 550;
}
main{
    background-color: hsl(218, 28%, 13%);
}
#picture2{
    width: 100%;
}
#dbgimg{
    width: 100%;
    overflow-x: hidden;
    display: block;
}
#pbgimg{
    display: none;
}
#fturs{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    text-align: center;
}
.features>*{
    margin:  1em 7em;
}
#fturs h1{
    font-size: 1.6rem;
}
#fturs p{
    font-size: 1.4rem;
    padding: 1em 2.5em;
}
#productive{
    margin: 15em 6%;
    padding: 5em 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#illprod{
    width: 100ch;
}
#productive h1{
    font-size: 1.8rem;
    align-self: flex-start;
}
#productive p{
    font-size: 1.2rem;
}
#productive a{
    align-self: flex-start;
    padding: 1em 0;
    font-size: 1.4rem;
    color: cyan;
    text-decoration: dashed!important;
    position: relative;
}